<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fax.cddt">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 读取手机信息权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 使用移动网络状态权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 手机存储卡写入权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 使用WIFI权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 获取粗略位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 允许应用程序发起安装app的请求 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> <!-- 获取任务信息 -->
    <uses-permission android:name="android.permission.GET_TASKS" /> <!-- 允许使用PowerManager的 WakeLocks保持进程在休眠时从屏幕消失 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 获取精确位置 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:name=".AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service
            android:name="com.amap.api.location.APSService"
            android:process="com.xjlmh.classic.wallpaper" />
        <service
            android:name=".service.CountdownService"
            android:process="com.xjlmh.classic.wallpaper" />

        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityTheme"/>

        <activity android:name=".activity.SplashActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.DiyWidgetMakeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityTheme" />

        <!-- 歌词插件：通知栏监听服务 -->
        <service
            android:name=".service.NLService"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:process="com.fax.cddt.wallpaper">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>


    </application>

</manifest>