<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fax.showdt">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 读取手机信息权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 使用移动网络状态权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 手机存储卡写入权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 使用WIFI权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 获取粗略位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 允许应用程序发起安装app的请求 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> <!-- 获取任务信息 -->
    <uses-permission android:name="android.permission.GET_TASKS" /> <!-- 允许使用PowerManager的 WakeLocks保持进程在休眠时从屏幕消失 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 获取精确位置 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.fax.showdt.AppContext"
        tools:replace="android:allowBackup"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="4dc2257639ace12b4f3f7810660d9c01" />
        <service
            android:name="com.amap.api.location.APSService"
            android:process=":remote" />
        <service
            android:name="com.fax.showdt.service.CountdownService"
            android:process=":remote" />

        <service
            android:name="com.fax.showdt.service.NLService"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:process=":remoter">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <activity
            android:name="com.fax.showdt.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityTheme"/>
        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.fax.showdt.activity.SplashActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.fax.showdt.activity.DiyWidgetMakeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityTheme" />
        <activity
            android:name="com.fax.showdt.activity.WidgetSelectedActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".provider.WidgetProvider4x4"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/countdown4_4"
            android:process=":remote">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_DELETED" />
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED" />
                <action android:name="widget_click_action" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget4x4" />
        </receiver>
        <receiver
            android:name=".provider.WidgetProvider1x1"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/countdown1_1"
            android:process=":remote">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_DELETED" />
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED" />
                <action android:name="widget_click_action" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget1x1" />
        </receiver>

    </application>

</manifest>